<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блог недопрограммистов</title>
</head>
<body>
    <div>
        <h1><a href="/"> Блог недопрограммистов</a></h1>
    </div>
    {% for post in posts%}
        <div style="border: 1px dotted black;">
            <h3 style="border-bottom: 1px solid gray;"><a href="#">{{ post.title }}</a></h3>
            <p>{{ post.text|linebreaksbr }}</p>
            <p><b>Published: {{ post.published_date }}</b></p>
        </div>
        <br>
    {% endfor %}
</body>
</html>